
body{

	font-family: 'Open Sans', sans-serif;
	background: #000 url('imagenes/FondoUy.jpeg');
	background-size: cover;
	background-attachment: fixed;
}


nav {
	margin: 0 auto;
    padding: 0;
	max-width: 1000px;
	background-color: rgba(229, 245, 7, 0.445);
    
}
nav1 h1, p{
    text-align: center;
	margin: auto ;
    padding: 50px 0 50px 0;
	max-width: 1000px;
	background-color: rgba(167, 10, 10, 0.548);
	font-family: cursive;
}

.verde{
    background-color: rgba(67, 165, 91, 0.267);
    text-align: left;
    padding-left: 20px;
    padding-bottom: 70px;
    padding-top: 30px;
	border: rgba(255, 0, 0, 0.404) 3px solid;
}


.cielo{
    background-color: rgba(8, 149, 173, 0.63);
    margin-top: 20px;
	padding: 15px 0 15px 0 ;
}

footer .redes-sociales a {
	color: #fff;
	text-decoration: underline;
	margin-left: 20px;
}

footer .redes-sociales a:hover {
	text-decoration: none;
}
.face{
    margin-left: 15px;
}
h2{
    text-align: center;
}
td,th {
    padding: 0.5em;
    border: 1px solid rgba(0,0,0,0.2);
  }

aside table{
    margin-left: 400px;
    font-size: 20px;
}

.gif{
    position: relative;
    float: right;
    width: 450px;
    height: 190px;
    padding: 10px 10px 10px 10px ;
    
}
.gif1{
    position: relative;
    float: left;
    width: 450px;
    height: 190px;
    padding: 30px 20px 10px 10px ;
   
}
.gif2{
    position: relative;
    float: right;
    width: 450px;
    height: 190px;
    padding: 30px 20px 10px 10px ;
}



.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: rgb(126, 5, 11);
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
    font-size: 25px;
}
.navigation a:hover {
	color: rgb(126, 5, 11);
	background-color: #c3da72;
	font-weight: 700;
}
.responsive li {
	display: block;
}


.main {
	background:rgba(41, 146, 67, 0.527) ;
	padding: 20px;
	width: 75%;
    margin: auto ;
    margin-top: 20px;
    
}

.main article .thumb {
	margin-bottom: 20px;
}

.main article .thumb img {
	vertical-align: top;
	width: 100%;
}

.main article h2 {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 32px;
}

.main article p {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 27px;
}


.boltur{
	height: 300px;
	border: 5px solid rgb(0, 0, 0);
}
img{
width: 260px;
height: 200px;
}
.logobo{
	width: 150px;
	height: 150px;
	margin: -165px 0px 30px 270px;
}


@media only screen and (min-width: 32.5em) {
 
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        color: rgb(126, 5, 11);
    }
	
}
@media only screen and (max-width: 1100px)
{
	.logobo{
		width: 150px;
		height: 150px;
		margin-left: 60px;
	}
}
@media only screen and (max-width: 1000px)
{
	.logobo{
		width: 150px;
		height: 150px;
		margin-left: 30px;
	}
}
@media only screen and (max-width: 800px)
{
	 h1{
		 font-size: large;

	 }
	.gif{
		width: 400px;
		margin-right: 3px;
		margin-top: 25px;
	}
	.gif1{
		
		width: 400px;
		margin-right: 3px;
		margin-top: 10px;
	}
	.gif2{
		width: 400px;
		margin-right: -7px;
		margin-top: 10px;
	}
	.logobo{
		width: 130px;
		height: 130px;
		margin-left: 50px;
	}
}

@media screen and (max-width: 600px) {

	.gif, .gif1{
		
		width: 400px;
		margin-right: 3px;
	}
	.gif2{
		width: 400px;
		margin-right: -7px;
	}
	
	.logobo{
		width: 200px;
		height: 150px;
		margin: 15px 0px 0px 180px;
	}
	
	
}
@media screen and (max-width: 500px) {

	.gif, .gif1{
		
		width: 320px;
		height: 150px;
	}
	.gif2{
		width: 320px;
		height: 150px;
	}
	
	.logobo{
		width: 200px;
		height: 150px;
		margin: 15px -10px -10px 140px;
	}
	
}
@media screen and (max-width: 400px) {

	.gif, .gif1{
		
		width: 320px;
		margin-right: 3px;
	}
	.gif2{
		width: 320px;
		margin-right: -7px;
	}
	.main{
		width: 90%;
	}
	.logobo{
		width: 200px;
		height: 150px;
		margin: 15px 0px 0px 100px;
	}
	
}
@media screen and (max-width: 300px) {

	.gif, .gif1{
		
		width: 200px;
		height: 150px;
	}
	.gif2{
		width: 200px;
		height: 150px;
	}
	.main{
		width: 80%;
		margin-left: 15px;
	}
	header{
		margin-left: 15px;
	}
	.logobo{
		width: 200px;
		height: 150px;
		margin: 15px -10px -10px 40px;
	}
	.boltur{
		width: 200px;
		height: 150px;
	}
}




